.container ol li {
    font-size: 1.4em;
    color: #333; /* Update text color */
}

.start {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.start .btn {
    padding: 0.5em 1.7em; /* Adjust padding for button */
    border: none;
    border-radius: 5px; /* Increase border radius for a more rounded look */
    font-size: 1.2em;
    color: #fff; /* Change text color to white */
    text-decoration: none;
    background-color: #0077b6; /* Change background color to a more attractive shade */
}

#form {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

#form .userid {
    padding: 1em 2em; /* Adjust padding for input field */
    width: 50%;
    border: none;
    border-radius: 5px; /* Increase border radius for a more rounded look */
    font-size: 1.1em; /* Slightly increase font size */
    color: #555; /* Change text color to a slightly lighter shade */
    background-color: #f0f0f0; /* Change the background color to a lighter shade */
}
